body{

font-family:Arial;
background:#f4f4f4;
text-align:center;

}

.contenedor{

position:relative;
width:1000px;
margin:auto;

}

.fondo{

width:100%;

}

input{

position:absolute;
width:38px;
height:38px;
text-align:center;
font-size:22px;
text-transform:uppercase;

}

.correct{

background:#b6fcb6;

}

.incorrect{

background:#ffb6b6;

}

button{

margin-top:25px;
padding:10px 25px;
font-size:18px;

}