<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">

<title>Crucigrama Evaluación Formativa</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<script>

const soluciones = [
[" "," "," "," "," "," "," "," "," "," "," "," "," "," ","R"," "," "," "],
[" "," "," "," "," "," "," "," "," "," "," "," "," "," ","E"," "," "," "],
[" "," "," "," "," "," "," "," "," "," "," "," "," "," ","T"," "," "," "],
[" "," ","E","V","I","D","E","N","C","I","A","S"," "," ","R"," "," "," "],
[" "," "," "," "," "," "," "," "," "," "," ","F"," "," ","O"," "," "," "],
[" "," "," "," "," "," "," "," "," "," "," ","O"," "," ","A"," "," "," "],
[" "," "," "," "," "," "," "," "," "," "," ","R"," "," ","L"," "," "," "],
[" "," "," "," "," "," "," "," "," "," "," ","M"," "," ","I"," "," "," "],
[" "," "," "," "," "," "," "," "," "," "," ","A"," "," ","M"," "," "," "],
[" "," "," "," "," "," "," "," "," "," "," ","T"," "," ","E"," "," "," "],
[" "," "," "," "," "," "," "," "," "," "," ","I"," "," ","N"," "," "," "],
[" "," "," "," "," "," "," "," "," "," "," ","V"," "," ","T"," "," "," "],
[" "," "," "," "," "," "," "," "," "," "," ","A"," "," ","A"," "," "," "],
[" "," "," "," "," "," "," "," "," "," "," "," "," "," ","C"," "," "," "],
[" "," "," "," "," "," "," "," "," "," "," "," "," "," ","I"," "," "," "],
[" "," "," "," "," "," "," "," "," "," "," "," "," "," ","O"," "," "," "],
[" "," "," "," "," "," "," "," "," "," "," "," "," "," ","N"," "," "," "]
];

function revisar(){

let inputs=document.querySelectorAll(".cell")

inputs.forEach(input=>{

let fila=input.dataset.row
let col=input.dataset.col

if(input.value.toUpperCase()===soluciones[fila][col]){

input.classList.add("correct")
input.classList.remove("incorrect")

}else{

input.classList.add("incorrect")
input.classList.remove("correct")

}

})

}

</script>

</head>

<body>

<h1>Crucigrama: Evaluación Formativa</h1>

<div class="crossword">

<script>

for(let i=0;i<17;i++){

for(let j=0;j<18;j++){

if(soluciones[i][j]==" "){

document.write('<div class="block"></div>')

}else{

document.write(`<input maxlength="1" class="cell" data-row="${i}" data-col="${j}">`)

}

}

}

</script>

</div>

<button onclick="revisar()">Revisar respuestas</button>

</body>
</html>